.App {
  text-align: center;
}

.number__form {
  display: flex;
  justify-content: center;
}

.array__container {
  display: flex;
  margin: 1rem 100px;
}

.array__columns {
  min-width: 4px;
  margin: 0 2px;
  background-color: blue;
}