.App {
  text-align: center;
}

.number__form {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  width: 100%;
}

.number__form-rows {
  display: flex;
  margin: 0.25rem;
}

.array__container {
  display: flex;
  margin: 1rem 100px;
}

.array__columns {
  min-width: 4px;
  margin: 0 2px;
  background-color: blue;
}